accelerate
anthropic
datasets
deepspeed
faiss-cpu
httpx
matplotlib
numpy
openai
pandas
peft
pyserini
rank-bm25
Requests
scipy
sentence-transformers
tabulate
tenacity
termcolor
torch
tqdm
transformers
trl
wandb
